<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Add Book</title>
</head>

<body>
  {{>navbarAdmin}}
  <div class="container ">

    <form class="well form-horizontal mx-auto" action="addbook" method="post" id="contact_form">
      <fieldset>

        <!-- Form Name -->
        <legend>
          <center>
            <h2><b>ADD BOOK</b></h2>
          </center>
        </legend><br>

        <!-- Text input-->

        <div class="form-group">
          <label class="col-md-4 control-label">Book Name</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input name="book_name" placeholder=  "Write Book Name" class="form-control" type="text">
            </div>
          </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
          <label class="col-md-4 control-label">Description</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input name="book_desc" placeholder="Write description here " class="form-control" type="text">
            </div>
          </div>
        </div>

        

        <!-- Text input-->

        <div class="form-group">
          <label class="col-md-4 control-label">Author Name</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input name="author" placeholder="Author Name" class="form-control" type="text">
            </div>
          </div>
        </div>

        <!-- Text input-->

       


        <!-- Text input-->

        <div class="form-group">
          <label class="col-md-4 control-label">Book No.</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
              <input name="book_no" placeholder="Write book number here" class="form-control" type="text">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Amount</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
              <input name="amount" placeholder="Write book amount here" class="form-control" type="text">
            </div>
          </div>
        </div>

      

        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4"><br>
            &nbsp<button type="submit"
              class="btn btn-warning">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span
                class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
  </div><!-- /.container -->
</body>

</html>