<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>book list</title>
</head>

<body>
  {{>navbarCustomer}}
  <div class="container col-lg-10">
    <div class="row ">
      {{#each rentedBookDetials}}

      <div class="col-lg-4">

        <div class="card mt-4">
          <div class="card-header">
            {{this.bookNo}}
          </div>
          <div class="card-body">
            <h5 class="card-title">
              {{this.bookName}}</h5>

            <p class="card-text">{{this.Description}}</p>

            <form method="POST" action="/customerReturnBook">
              <input type="hidden" name="itemId" value="{{this._id}}">
              <button type="submit">Return</button>
            </form>
          </div>
        </div>

      </div>
      {{/each }}


    </div>
  </div>

  </div><!-- /.container -->
</body>

</html>